work/
iseconfig/
tmp/
_xmsgs/
cache/
doc/
wt/
example_design/
implement/
simulation/
*runs/
*.log
*.tcl
*.txt
*.gise
*.cgc
*.cgp
*.ncf
*.ncd
*.asy
*.sym
*.veo
*.vho
*.html
*.xsl
*.svf
*.xsvf
*.xwbt
*.cfi
*.prm
*.o
#*.xml
/webtalk_impact.xml
.Xil/
*.jou
